# Environment Variables file
.env

# npm files
node_modules/

# Rollup
.rpt2_cache/

# Istanbul Coverage
.nyc_output/
coverage/
coverage.lcov

# Typescript build files
build/
dist/
docs/
lib/

# Visual Studio Code
.vscode/